.home {
  width: 100%;

  .home-overview {
    width: 100%;

    .home-content:nth-child(2) {
      padding: 0 16px;
    }
  }

  .card {
    width: 100%;
    border-radius: 0;
    border: none;
    //background-color: #272626;
  }
}
