.search {
  width: 100%;
  height: 48px;
  padding-bottom: 16px;

  .add {
    width: 100px;
  }

  .search-dropdown {
    width: auto;
  }
}

.search-form {
  padding: 16px 0 0 16px;
  background-color: hsla(225deg, 15%, 25%, 1);

  .search-form__item {
    padding-bottom: 16px;
  }

  &.pc {
    width: 488px;

    .search-form__item {
      width: 220px;
    }
  }

  &.mobile {
    width: calc(100% - 16px);

    .search-form__item {
      width: calc(100% - 16px);
    }
  }
}
