.card {
  width: 100%;
  border-radius: 0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  .ant-card-head {
    min-height: 46px;
    color: #171514;
    border-color: #d3d3d3;
    border-width: 1px;
    padding: 0 16px;
  }

  .ant-card-body {
    padding: 16px;
  }
}

.dark_mode--activated {
  .card {
    background-color: hsla(225deg, 15%, 20%, 1);
  }

  .ant-card-head {
    color: #fff;
    border-color: hsla(225deg, 15%, 10%, 1);
  }
}